#header{
	height: 40px;
	font-size: 30px;
	font-family: times;
	text-align: center;
}
#header2{
	height: 30px;
	font-size: 16px;
	font-family: times;
	text-align: left;
}
#footer{
	height: 30px;
	font-size: 15px;
	text-align: center;
	position: bottom;
	padding-left: 23px;
}