.members {
	margin-left:100px;
	font-weight:strong;
	font-style: italic;
	color: orange;

}
table{
	border:1px solid black;
	width:90%;
	position: center;
	background-color: white;
}
th{
	border:1px solid black;
	text-align: center;
	width: 25%;
	background-color: gray;
	
}
td{
	border: 1px solid black;
	text-align: center;
	width: 25%;
	background-color: white;
}
.MandP{
	font-family:'oswald', sans-serif;
	font-weight: 400;
	color: orange;
}
.albumName{
	font-family:'oswald', sans-serif;
	font-weight: 400;
	font-size: 25px;
	color: orange;
}
.background{
	background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/3/3c/DarkestHourSelfTitled.png/220px-DarkestHourSelfTitled.png");
	background-attachment: scroll;
	background-position: top, center; 
 	width: 1200px;
 	height: 800px;
 	background-repeat: repeat;
 }
 .bandname{
 	color: orange;
 	font-size: 15px;
 }
 .releasedate{
 	color: orange;
 	font-size: 15px;
 }