.members {
	margin-left:100px;
	font-weight:strong;
	color:orange;

}
table{
	border:1px solid black;
	width:90%;
	position: center;
}
th{
	border:1px solid black;
	text-align: center;
	width: 25%;
	
}
td{
	border: 1px solid black;
	text-align: center;
	width: 25%;
}