.page-header{
	text-align: center;
}
.footer{
	text-align: center;
	font-size: 14;
}
.checkbox{
	padding-top: 10px;
	padding-bottom: 10px;
}
#days{
	padding: 5px;
}
.item{
	text-align: center;
}
.description{
	text-align: center;
}
.menu{
	text-align: center;
}
.td{
	text-align: center;
}
#carousel-announcement{
	margin-top: 10px;
	margin-bottom: 10px;
}
.jumbotron{
	margin-left: 20px;
}