#header{
	height: 40px;
	font-size: 40px;
	font-family: 'indie flower', cursive;
	text-align: center;
}
#header2{
	height: 30px;
	font-size: 16px;
	font-family: times;
	text-align: left;
}
#footer{
	height: 30px;
	font-size: 15px;
	text-align: center;
	position: bottom;
	padding-left: 23px;
}
#menuBG{
	background-color: #BEF7FD;
	height: 500px;
	width: auto;

}
#mainbody{
	background-color: #BEF7FD;
	height: 500px;
	width: auto;

}
th{
	font-size: large;
}
a:link{
	color: blue;
}
a:active{
	text-decoration: none;
	}
a:visited{
	color: red;	
	}
.bev{
	padding-top: 5px;
	padding-bottom:5px;
}
.bevh{
	text-decoration: underline;
}