.members {
	margin-left:100px;
	font-weight:strong;
	font-style: italic;

}
table{
	border:1px solid black;
	position: center;
}
thead{
	border:5px solid black;
	text-align: center;
	}
tbody td{
	border: 1px solid black;
	text-align: center;
}
.mandp{
	font-family:'oswald', sans-serif;
	font-weight: 400;
	text-align: left;
	padding-left: 5px;
	padding-bottom: 10px;
}

.albumName{
	font-family:'oswald', sans-serif;
	font-weight: 400;
	font-size: 25px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
}
 
 .bandname{
 	color: black;
 	font-weight: bold;
 	font-size: 15px;
 	text-align: center;
 }
 .releasedate{
 	color: black;
 	font-size: 15px;
 	text-align: center;
 }
 a:link{
 	text-decoration: none;
 	background-color: transparent;
 	color: orange;
 	display: inline-block;
 }
 a:hover{
 	text-decoration: underline;
 	background-color: red;
 }