.members {
	margin-left:100px;
	font-weight:strong;
	font-style: italic;
	color: orange;

}
table{
	border:1px solid black;
	width: 80%;
	position: center;
}
thead{
	border:5px solid black;
	text-align: center;
	width: 25%;
	background-color: gray;
	}
tbody td{
	border: 1px solid black;
	text-align: center;
	width: 25%;
	background-color: yellow;
	font-style: italic;
}
.MandP{
	font-family:'oswald', sans-serif;
	font-weight: 400;
	color: orange;
}
.albumName{
	font-family:'oswald', sans-serif;
	font-weight: 400;
	font-size: 25px;
	color: orange;
}
.background{
	background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/3/3c/DarkestHourSelfTitled.png/220px-DarkestHourSelfTitled.png");
	background-attachment: fixed;
	background-position: top, center; 
 	width: 1100px;
 	height: 800px;
 }
 .bandname{
 	color: orange;
 	font-size: 15px;
 }
 .releasedate{
 	color: orange;
 	font-size: 15px;
 }
 a:link{
 	text-decoration: none;
 	background-color: transparent;
 	color: orange;
 	display: inline-block;
 }
 a:hover{
 	text-decoration: underline;
 	background-color: yellow;
 }