.page-header{
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	margin-top: 40px;
}
.container{
	margin-top: 20px;
	text-align: center;
}
table{
	border: 1px solid black;
	width: 40%;
	background-color: #d3d3d3;
	position: center;

}
tr{
	border: 1px solid black;
	width: 20%;
	background-color: #d3d3d3;
	text-align: left;
}
td{
	border: 1px solid black;
	width: 20%;
	background-color: #d3d3d3;
	text-align: left;
}
caption{
	text-decoration: underline;
}